<div class="outer">
  <div class="data-context">
    <h4 class="header-text">Forgot Password</h4>

    <form (ngSubmit)="submitForgotPassword()" [formGroup]="forgotPasswordForm" class="example-form">
      <div class="row form-outer">
        <div class="col-12 email">
          <div class="form-group">
            <label for="mobile">Mobile Number *</label>
            <input
              type="tel"
              id="mobile"
              formControlName="mobile"
              class="form-control"/>
          </div>
        </div>
        <div class="col-12 sign-in">
          <button class="sign-in-button" mat-raised-button>Sign In</button>
        </div>
      </div>
    </form>
  </div>

  <div class="left">
    <div class="logo-wrapper">
      <img src="assets/logo/concal-logo.png" alt="Logo">
    </div>
    <div class="data-desc-outer">
      <h1>"Strengthening Structures,<br> Building Futures"</h1>
    </div>
  </div>

  <div class="right">
    <div class="round-1">
      <div class="dot-1"></div>
    </div>
    <div class="round-2">
      <div class="dot-2"></div>
    </div>
    <div class="round-3"></div>
  </div>
</div>
